onionBot/config.py
settings/discordToken.txt
target/classes/audio/Music$1.class
target/classes/audio/Music$2.class
target/classes/audio/Music.class
target/classes/BotTool.class
target/classes/hololive/HololiveTools$1.class
target/classes/hololive/HololiveTools.class
target/classes/hololive/KusoNihongoConverter.class
target/classes/Main.class
target/classes/nijisanji/NijisanjiTools.class
target/classes/nijisanji/ScreenShotTool.class
target/classes/utilities/ScreenShotTool.class
target/DiscordBot-1.0-SNAPSHOT-shaded.jar
target/DiscordBot-1.0-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
onionBot/config.py
settings/discordToken.txt
target/classes/audio/Music$1.class
target/classes/audio/Music$2.class
target/classes/audio/Music.class
target/classes/BotTool.class
target/classes/hololive/HololiveTools$1.class
target/classes/hololive/HololiveTools.class
target/classes/hololive/KusoNihongoConverter.class
target/classes/Main.class
target/classes/nijisanji/NijisanjiTools.class
target/classes/utilities/ScreenShotTool.class
target/DiscordBot-1.0-SNAPSHOT-shaded.jar
target/DiscordBot-1.0-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/Main$1.class
target/classes/nijisanji/NijisanjiTools.class
target/classes/Main.class
.idea/workspace.xml
.idea/workspace.xml
holoCli/hololive.txt
data/nijisanji.txt
target/classes/nijisanji/NijisanjiTools$1.class
settings/config.json
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/hololiveDiscordBot.iml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/hololiveDiscordBot.iml
.idea/hololiveDiscordBot.iml
.idea/workspace.xml
automaticRefresh/config.py
holoCli/hololive.txt
settings/config.json
target/classes/audio/Music$1.class
target/classes/audio/Music.class
target/classes/BotTool.class
target/classes/hololive/HololiveTools.class
target/classes/Main.class
target/classes/nijisanji/NijisanjiTools.class
target/DiscordBot-1.0-SNAPSHOT-shaded.jar
target/DiscordBot-1.0-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/audio/Music$1.class
target/classes/audio/Music$2.class
target/classes/audio/Music.class
target/classes/BotTool.class
target/classes/hololive/HololiveTools$1.class
target/classes/hololive/HololiveTools.class
target/classes/hololive/KusoNihongoConverter.class
target/classes/Main.class
target/classes/nijisanji/NijisanjiTools.class
target/classes/utilities/AutoRefreshLive.class
target/classes/utilities/ScreenShotTool.class
target/DiscordBot-1.0-SNAPSHOT-shaded.jar
target/DiscordBot-1.0-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
.idea/hololiveDiscordBot.iml
.idea/workspace.xml
settings/config.json
target/classes/hololive/HololiveTools.class
target/classes/Main.class
target/classes/nijisanji/NijisanjiTools.class
target/classes/utilities/ScreenShotTool.class
target/DiscordBot-1.0-SNAPSHOT-shaded.jar
target/DiscordBot-1.0-SNAPSHOT.jar
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/hololive/KusoNihongoConverter.class
target/classes/hololive/KusoNihongoConverter.class
target/classes/hololive/HololiveTools$1.class
target/classes/BotTool.class
target/classes/audio/Music.class
target/classes/audio/Music$2.class
target/classes/audio/Music$1.class
settings/config.json
holoCli/text/timezone
holoCli/text/hololive_members_en.txt
holoCli/text/hololive_members.txt
holoCli/text/help
holoCli/src/util.py
holoCli/src/scraping.py
holoCli/src/fetch_html.py
holoCli/src/__pycache__/util.cpython-39.pyc
holoCli/src/__pycache__/util.cpython-38.pyc
holoCli/src/__pycache__/util.cpython-37.pyc
holoCli/src/__pycache__/scraping.cpython-39.pyc
holoCli/src/__pycache__/scraping.cpython-38.pyc
holoCli/src/__pycache__/fetch_html.cpython-37.pyc
holoCli/src/__pycache__/fetch_html.cpython-39.pyc
holoCli/src/__pycache__/scraping.cpython-37.pyc
holoCli/src/__pycache__/fetch_html.cpython-38.pyc
holoCli/main.py
holoCli/hololive.txt
data/nijisanjiChannel.txt
data/nijiMemberID.txt
data/memberList.txt
settings/config.json
target/classes/hololive/HololiveTools.class
target/classes/hololive/KusoNihongoConverter.class
target/classes/Main.class
target/classes/nijisanji/NijisanjiTools.class
target/classes/utilities/ScreenShotTool.class
target/DiscordBot-1.0-SNAPSHOT-shaded.jar
target/DiscordBot-1.0-SNAPSHOT.jar
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
